* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.scene-1-section {
  height: 180vh;
  background-color: #023;
}
.scene-1 {
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 100vh;
}
.scene-1 > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 56.25vw;
  height: 100%;
  background-size: auto 100%;
  background-position-x: center;
}
.screen-1-hall { background-image: url('img/screen01hall.png'); }
.screen-1-wall { background-image: url('img/screen01wall.png'); }

.screen02 {
  height: 80vh;
  background-image: url('img/screen02.png');
  background-size: auto 100%;
  background-position-x: center;
}
