::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

html {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
}
.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.screen01hall {
  background-image: url('img/screen01hall.png');
}
.screen01wall {
  background-image: url('img/screen01wall.png');
}
.screen02 {
  background-image: url('img/screen02.png');
}
